/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: url("images/BirdBackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	text-align: center;

}

.center {
	width: 60%; /*This is for responsiveness*/
	padding: 2%;
	margin: 100px auto;
	background: rgba(228, 237, 241, 0.75);
	/*this uses opacity of 75% for the background color*/
	text-align: center;
	border-radius: 30px 30px 30px 30px;
	/* This is my curved edge div code */
	/*border: 4px dashed white*/

}


#logo {

	margin-bottom: 16px;
	margin-top: 30px; /* to clear the top of page*/
	width:50%; /*This is for responsiveness*/
	text-align: center;
	/*border: 4px dashed red*/
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "roca", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	margin: 0px auto 10px auto;
	color: #080707;
}

h2 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "roca", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
	line-height: 1.4;
	color: #070606;
	padding: 0px 0px;
	margin: 0px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "roca", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	line-height: 1.6;
	color: #050505;
}

nav {
	font-family: "barlow-condensed", sans-serif;
	font-weight: 200;
	font-style: normal;
	width:20%; /*This is for responsiveness*/
	margin: 0 auto;
	border: dashed rgb(0, 104, 17);
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
	
}

nav li{
	display: inline;
}

nav a{
	display: inline-block;
	padding: 10px;
}

a{
	color:#444;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: black;
	background: rgb(17, 139, 39);
}